// SASS definition. Compile with https://www.sassmeister.com/

$length: 50;

@mixin wave($length) {
  @for $i from 1 through $length {
    .char#{$i} {
      display: inline-block;
      animation: wave 0.66s linear infinite unquote(-$i * 50 + ms);
    }
  }
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: thistle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .center-scob {
    img {
      max-width: 30%
    }
  
    .wave {
      font-family: runescape_chat_bold_07regular;
      @include wave($length);
    }
  }
}
