body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: thistle;
}
.wave {
  font-family: runescape_chat_bold_07regular;

    .char#{1}{
      display: inline-block;
      animation: wave .66s linear infinite unquote(-1 * 50 + ms);
        //the negative animation delay means the characters all start at the same time but at different parts of the animation!
    }
    .char#{2}{
      display: inline-block;
      animation: wave .66s linear infinite unquote(-2 * 50 + ms);
        //the negative animation delay means the characters all start at the same time but at different parts of the animation!
    }
    .char#{3}{
      display: inline-block;
      animation: wave .66s linear infinite unquote(-3 * 50 + ms);
        //the negative animation delay means the characters all start at the same time but at different parts of the animation!
    }
    .char#{4}{
      display: inline-block;
      animation: wave .66s linear infinite unquote(-4 * 50 + ms);
        //the negative animation delay means the characters all start at the same time but at different parts of the animation!
    }
    .char#{5}{
      display: inline-block;
      animation: wave .66s linear infinite unquote(-5 * 50 + ms);
        //the negative animation delay means the characters all start at the same time but at different parts of the animation!
    }
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50%{
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
  
